.links{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    position: relative;
}

.link{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 2rem;
    border: var(--primary-border);
    background: var(--primary-bg-color);
    margin-bottom: 1rem;
}

.linkWrapper{
    display: flex;
    align-items: center;
}

.linkSvg{
    width: 32px;
    height: 32px;
}

.linkDescription {
    font-family: var(--secondary-font-family);
    font-size: 0.875rem;
    font-style: normal;
    color: var(--primary-text-color);
    text-align: center;
}

.linkTitle{
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--primary-font-family);
    text-transform: capitalize;
    color: var(--primary-text-color-light);
    padding-top: 1rem;
    flex: 1 0 auto;
    white-space: nowrap;
    text-align: center;
}

.link__svg{
    width: 1.25rem;
    height: 1.25rem;
    transform: rotate(-45deg);
    color: var(--primary-text-color);
}

.linkSvgContainer {
    display: flex;
    align-items: center;
}

.linkText {
    padding-left: 1.5rem;
    align-items: flex-start;
}

.bgImageSeventh{
    position: absolute;
    width: 67px;
    height: 67px;
    right: 70px;
    bottom: -200px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.05);
    background: linear-gradient(180deg, #FEB475 0%, rgba(254, 180, 117, 0) 100%), #FEB475;
    background-blend-mode: normal, overlay, normal;
    opacity: 0.5;
    z-index: var(--z-index-background-image);
    }

.bgImageEighth{
    position: absolute;
    width: 67px;
    height: 67px;
    right: 200px;
    bottom: -320px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.05);
    background: linear-gradient(180deg, #3A8B8F 0%, rgba(58, 139, 143, 0) 100%) #3A8B8F;
    background-blend-mode: normal, overlay, normal;
    opacity: 0.5;
    z-index: var(--z-index-background-image);
}
.bgImageNinth{
    background-color: var(--primary-bg-color);
    bottom: -21rem;
    left: -1100px;
    height: 15rem;
    width: 100vw;
    position: absolute;
    opacity: 0.5;
}
.bgImageTenth {
    background-color: var(--primary-bg-color);
    background-image: linear-gradient(to right,var(--bg-rect-border-color) 0.0625rem,transparent 0.0625rem),linear-gradient(to bottom,var(--bg-rect-border-color) 0.0625rem,transparent 0.0625rem);
    background-size: var(--primary-bg-rect-size) var(--primary-bg-rect-size);
    background-repeat: repeat;
    bottom: -23rem;
    height: 15rem;
    left: -1100px;
    width: 100vw;
    position: absolute;
    z-index: var(--z-index-backdrop);
    opacity: 0.6;
}

@media screen and (max-width: 1249px) {
    .bgImageSeventh, .bgImageEighth , .bgImageNinth, .bgImageTenth{
        display: none;
    }
}
@media screen and (max-width: 996px) {
    .links{
        flex-direction: row;
        width: 100%;
    }
    .link{
        align-items: flex-start;
        width: 30%;
    }
    .linkWrapper{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1.5rem;
    }
    .linkText{
        padding: 1rem 0;
    }
}

@media screen and (max-width: 625px) {
    .links{
        flex-direction: column;
    }
    .link{
        align-items: center;
        width: 100%;
    }
    .linkWrapper{
        flex-direction: row;
        align-items: center;
        padding-left: 0;
    }
    .linkText{
        padding-left: 1.5rem;
    }
}