.links{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
    width: 50%;
}

.link{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: var(--primary-bg-color);
    margin-bottom: 1rem;
}

.linkWrapper{
    display: flex;
    align-items: center;
}

.linkSvg{
    width: 32px;
    height: 32px;
}

.linkDescription {
    font-family: 'Inter';
    font-size: 0.875rem;
    font-style: normal;
    color: var(--primary-text-color);
    text-align: center;
    /*display: inline;*/
}

.linkTitle{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Oswald';
    text-transform: capitalize;
    color: var(--primary-text-color-light);
    padding-top: 1rem ;
    flex: 1 0 auto;
    white-space: nowrap;
    text-align: center;
}

.linkSvgContainer {
    display: flex;
    align-items: center;
}

.linkText {
    padding-left: 1.5rem;
    align-items: start;}

