.links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 2rem;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 2rem 3.5rem;
    background: var(--primary-bg-color);
}

.linkDescription {
    font-family: 'Inter';
    font-size: 0.875rem;
    font-style: normal;
    color: var(--primary-text-color);
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}

.linkTitle{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Oswald';
    text-transform: capitalize;
    color: var(--primary-text-color-light);
    margin: 0 2rem;
    padding-top: 1rem ;
    flex: 1 0 auto;
    white-space: nowrap;
    text-align: center;
}

.linkSvgContainer {
    display: flex;
    align-items: center;
}

.linkText {
 text-align: center;
}

@media screen and (max-width: 996px) {
    .link{
        padding: 1rem;
    }

    .linkSvgContainer {
        display: none;
    }

    .links{
        align-items: start;
    }

    .linkText{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 625px) {
    .links{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .linkDescription {
        margin-bottom: 0;
        display: inline;
    }

    .link{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    .linkText{
        padding-left: 1.5rem;
        align-items: start;
    }

    .linkTitle{
        margin: 0;
    }
}