.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 8rem;
  width: 100%;
}
.feature {
  border: var(--primary-border);
  background:repeating-conic-gradient(#0000 0.000045%, #000d 0.0005%) var(--secondary-bg-color);
}

.featureTittle {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--primary-text-color-light);
  font-weight: 500;
  font-family: var(--primary-font-family);
}

.featureDescription {
  font-size: 1rem;
  color: var(--primary-text-color);
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-style: normal;
}
.featureSvg {
  height: 24px;
  width: 24px;
}

.featuresGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 996px) {
  .featuresGridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25rem;
    margin: 0 1rem;
  }
  .featuresGridContainer .feature:nth-child(odd){
    padding-right: 0;
  }
}

@media screen and (max-width: 625px) {
  .featuresGridContainer {
    grid-template-columns: 1fr;
    margin: 0 1rem;
  }
}