.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
.feature {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.featureTittle {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--primary-text-color-light);
  font-weight: 500;
  font-family: 'Oswald';
}
.featureDescription {
  font-size: 1rem;
  color: var(--primary-text-color);
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
}
.featureSvg {
  height: 24px;
  width: 24px;
}

.featuresGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 0 5rem;
}

.featuresGridContainer .feature:nth-child(odd){
  padding-right: 10rem;
}

@media screen and (max-width: 996px) {
  .featuresGridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25rem;
    margin: 0 1rem;
  }
  .featuresGridContainer .feature:nth-child(odd){
    padding-right: 0;
  }
}

@media screen and (max-width: 625px) {
  .featuresGridContainer {
    grid-template-columns: 1fr;
    margin: 0 1rem;
  }
}