.cardsTable {
    display: flex;
    align-items: center;
    margin-bottom: 8.75rem;
    width: 100%;
}

.cardsTableTitle {
    font-size: 2rem;
    text-align: center;
    color: var(--primary-text-color-light);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 3rem 3rem 3rem;
}
  
  .cardsTableContainer {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;
  }

  .cardsTableCard {
    flex: 0 calc(50% - 1rem);
  }

  .cardsTableCard:last-child:nth-child(odd) {
    flex: 0 100%;
  }
  
  @media screen and (max-width: 625px) {
    .cardsTableCard {
      flex: 0 100%;
    }

    .cardsTableTitle {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }