.cardsSection {
    display: flex;
    align-items: center;
    margin-bottom: 8.75rem;
    width: 100%;
}

.cardsSectionTitle {
    font-size: 2rem;
    text-align: center;
    color: var(--primary-text-color-light);
    font-weight: 600;
    text-transform: uppercase;
    margin: 8.75rem 3rem 3rem 3rem;
}
  
  .cardsSectionContainer {
    display: grid;
    gap: 2rem;
    grid-template: var(--cards-section-grid-template);
    grid-template-columns: var(--cards-section-grid-template-columns, 1fr 1fr);
  }

  .cardsSectionCard:last-child:nth-child(odd) {
    flex: 0 100%;
  }

  .cardsSectionSwiper {
    display: none;
    padding: 0 1.5rem;
    height: 27.5rem;
  }

  .cardsSectionSwiperSlide {
    height: 100%;
    max-width: calc(100vw - 3rem);
    width: 100%;
  }

  .cardsSectionSwiperSlide .cardsSectionCard {
    height: calc(100% - 2.5rem);
  }

  @media screen and (max-width: 768px) {
    .cardsSectionContainer {
      grid-template: initial;
      grid-template-columns: 1fr;
    }

    .cardsSectionMobile {
      display: none;
    }

    .cardsSectionSwiper {
      display: flex;
      align-items: stretch;
    }
  }
  
  @media screen and (max-width: 625px) {
    .cardsSectionContainer {
      gap: 1.5rem;
    }

    .cardsSectionCard {
      flex: 0 100%;
    }

    .cardsSectionTitle {
      font-size: 1.5rem;
      margin: 4rem 1.5rem 2rem 1.5rem;
    }
  }