.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  border-bottom: var(--primary-border);
  padding: 14rem 0 4.5rem 0;
  flex-direction: row;
}

.subscribeHead {
  display: flex;
  flex-direction: column;
}

.subscribeTitle {
  font-size: 2rem;
  color: var(--primary-text-color-light);
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  text-align: center;
}

.subscribeDescription {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.60);
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}

.subscribeForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--primary-border);
  padding: 1rem;
  width: 100%;
  max-width: 20rem;
}

.subscribeInput {
  background: none;
  border: 0;
  height: 1.5rem;
  width: calc(100% - 2rem);
}

.subscribeInput::placeholder {
  font-size: 1rem;
}

.subscribeInput:focus {
  outline: none;
}

.subscribeButton {
  text-transform: uppercase;
  color: var(--primary-text-color);
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  cursor: pointer;
  background: none;
  outline: none;
  margin: 0;
}

.subscribeButton:hover {
  color: var(--primary-text-color-light);
  background: none;
}

[data-theme='light'] .subscribeButton {
  color: var(--primary-text-color-light);
}

[data-theme='light'] .subscribeButton:hover {
  color: var(--primary-text-color);
}

@media screen and (max-width: 768px) {
  .subscribe {
    padding: 2rem 1.5rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 625px) {
    .subscribe {
      padding: 3rem 1.75rem;
    }
  
    .subscribeTitle {
      font-size: 1.5rem;
    }

    .subscribeForm {
      padding: 1rem;
    }

    .subscribeButton {
      padding: 0;
    }
}