.links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 1.5rem;
}

.linksTitle {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-text-color-light);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 8.75rem
}

.linksContent {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.linksItem {
  border: var(--primary-border);
  background: #0f0f0f;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  color: var(--white);
  max-width: 18.75rem;
  width: 100%;
}

@media screen and (max-width: 625px) {
  .links {
    gap: 0;
  }
  
  .linksTitle {
    font-size: 1.5rem;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
  }
}