.developerLinks{
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 5rem 8rem;
}
.developerLinksHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.developerLinksTitle{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 2rem;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.84);
}

.developerLinksDescription {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #8F8F8F;
}
.developerLinksBody{
    display: flex;
    justify-content: space-between;
    margin-top: 5.5rem;
}
.developerLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: underline;
    color: #8F8F8F;
}