.developerLinks{
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid var(--secondary-bg-color);
    padding: 5rem 8rem;
}
.developerLinksHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.developerLinksTitle{
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--primary-text-color-light)
}

.developerLinksDescription {
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--primary-text-color);
}

.developerLinkBlockTitle{
    margin-bottom: 2rem;
    white-space: nowrap;
    overflow: hidden;
}
.developerLink__svg{
    width: 1.25rem;
    height: 1.25rem;
    transform: rotate(-45deg);
    color: var(--primary-text-color);
}


.developerLinkBlockTitleLine {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2.5rem;
    bottom: -0.125rem;
    height: 0.0625rem;
    background-color: var(--secondary-text-color-light);

}


.developerLinksBody{
    display: flex;
    justify-content: space-between;
    margin-top: 5.5rem;
}

.developerLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: underline;
    color: var(--primary-text-color);
}

.developerLinkBlock{
    position: relative;
    width: 30%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 996px) {
    .developerLinks{
        padding: 5rem 2rem;
    }
}
@media screen and (max-width: 625px) {
    .developerLinksBody{
        flex-direction: column;
    }
    .developerLinkBlock{
        width: 100%;
    }
    .developerLinksHeader{
        flex-direction: column;
    }
}