/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: initial;
  color: #ffffff;
}
.heroContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-bg-color);
  padding: 4rem 0;
  max-width: 75%;
  position: relative;
  z-index: 0;
}
.startBuildingSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-bg-color);
  padding: 3rem 9rem 3rem 2rem;
  margin-right: 5rem;
  position: relative;
  z-index: 1;
}
.heroButton{
  position: relative;
  background: var(--primary-bg-color);
  border: 1px solid #ffffff;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 1.5rem 0 0;
  cursor: pointer;
  color: var(--primary-text-color-light);
}
.heroButton::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid #fff;
  filter: drop-shadow(5px 5px 0px #fff);
  z-index: -1;
}

.heroSubtitle{
  font-size: 1.25rem;
  color: var(--primary-text-color);
  max-width: 634px;
}
.buttonContainer{
  display: flex;
}
.heroTitle {
  font-size: 112px;
  font-weight: 700;
  color: var(--primary-text-color-light);
  font-family: 'Oswald';
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 625px) {
  .heroTitle {
    font-size: 54px;
  }
  .buttonContainer{
    flex-direction: column;
  }
  .heroButton{
    margin: 0 0 1.5rem 0;
  }
}
.bottomContent {
  display: flex;
  justify-content: space-around;
  background: transparent;
}

@media screen and (max-width: 996px) {
  .bgImage1, .bgImage2, .bgImage3, .bgImage4, .bgImage5, .bgImage6, .bgImage7, .bgImage8, .bgImage9{
    display: none;
  }
  .heroBanner {
    margin: 2rem;
  }
  .heroContent{
    max-width: 100%;
  }
  .startBuildingSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-bg-color);
    padding: 3rem 2rem 3rem 2rem;
    margin-right: 0;
    position: relative;
    z-index: 1;
  }
}
.svgContainer {
  display: flex;
  align-items: center;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bgImage1{
  width: 32px;
  height: 97px;
  left: 66px;
  top: 130px;
  position: absolute;
  background-image: url("@site/static/img/bg-image-1.svg");
}
.bgImage2{
  width: 32px;
  height: 65px;
  left: 97px;
  top: 130px;
  position: absolute;
background-image: url("@site/static/img/bg-image-2-4.svg");
}
.bgImage3{
  width: 32px;
  height: 65px;
  left: 66px;
  top: 292px;
  position: absolute;
  background-image: url("@site/static/img/bg-image-3.svg");
}
.bgImage4{
  width: 32px;
  height: 65px;
  left: 97px;
  top: 260px;
  position: absolute;
  background-image: url("@site/static/img/bg-image-2-4.svg");
}
.bgImage5{
  width: 32px;
  height: 65px;
  right: 111.5px;
  top: 130px;
  position: absolute;
  background-image: url("@site/static/img/bg-image-5.svg");
}
.bgImage6{
  width: 32px;
  height:130px;
  right: 80px;
  top: 130px;
  position: absolute;
  background-image: url("@site/static/img/bg-image-6.svg");
}
.bgImage7{
  width: 32px;
  height: 32px;
  right: 111.5px;
  top: 228px;
  position: absolute;
  background-image: url("@site/static/img/bg-image-7-8.svg");
}
.bgImage8{
  width: 32px;
  height: 32px;
  right: 111.5px;
  top: 292px;
  position: absolute;
  background-image: url("@site/static/img/bg-image-7-8.svg");
}
.bgImage9{
  width: 32px;
  height: 65px;
  right: 80px;
  top: 292px;
  position: absolute;
  background-image: url("@site/static/img/bg-image-9.svg");
}
