.news {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsTitle {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-text-color-light);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 8.75rem;
  margin-bottom: 0.5rem;
}

.newsViewAll {
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.60);
  font-size: 1rem;
  font-weight: 600;
}

.newsContent { 
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 3rem;
}

.newsItem {
  border: var(--primary-border);
  background: var(--background-light);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1.5rem;
  color: var(--primary-text-color-light);
  width: 100%;
  text-transform: capitalize;
  min-height: 14rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
}

.newsSwiper {
  display: none;
  overflow: hidden;
  margin-top: 3rem;
  width: 100%;
  height: 19rem;
}

.newsSwiperSlide {
  display: flex;
  justify-content: center;
  max-width: calc(100vw - 3rem);
  width: 100vw;
  height: 100%;
  min-height: 16.5rem;
}

.newsSwiperSlide .newsItem {
  height: calc(100% - 2.5rem);
}

@media screen and (max-width: 768px) {
  .newsContent {
    display: none;
  }

  .newsSwiper {
    display: block;
  }
}

@media screen and (max-width: 625px) {
  .newsTitle {
    font-size: 1.5rem;
    line-height: normal;
    margin-top: 3.5rem;
  }

  .newsSwiper {
    margin-top: 2rem;
  }
}