.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
}

.newsTitle {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-text-color-light);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 8.75rem;
  margin-bottom: 0.5rem;
}

.newsViewAll {
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.60);
  font-size: 1rem;
  font-weight: 600;
}

.newsContent { 
  display: none;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 3rem;
  padding: 0 4.5rem;
}

.newsItem {
  border: var(--primary-border);
  background:repeating-conic-gradient(#0000 0.000045%, #000d 0.0005%) var(--secondary-bg-color);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1.5rem;
  color: #fff;
  width: 100%;
  text-transform: capitalize;
  min-height: 14rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
}

.newsSwiper {
  display: block;
  overflow: hidden;
  margin-top: 3rem;
  width: 100%;
}

.newsSwiperSlide {
  display: flex;
  justify-content: center;
  max-width: calc(100vw - 3rem);
  width: 100vw;
}

@media all and (hover: hover) {
  .newsContent {
    display: flex;
  }

  .newsSwiper {
    display: none
  }
}

@media screen and (max-width: 625px) {
  .newsTitle {
    font-size: 1.5rem;
  }
}