.homepageUseCases {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 8rem;
    width: 100%;
}

.homepageUseCasesTitle {
    font-size: 2rem;
    text-align: center;
    color: var(--primary-text-color-light);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 3rem 3rem 3rem;
}

.homepageUseCasesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

.homepageUseCasesCard {
    border: var(--primary-border);
    background-color: var(--primary-bg-color);
    background-image: radial-gradient(
      117.02% 117.02% at 50% -17.02%,
      rgba(255, 255, 255, 6%) 0%,
      rgba(255, 255, 255, 0%) 100%
    );
    overflow: hidden;
    width: 100%;
    flex: 1;
    max-width: 28rem;
}

.homepageUseCasesCardInner {
  position: relative;
  top: -0.0625rem;
  left: -0.0625rem;
  background-image: linear-gradient(to right,var(--bg-rect-border-color) 0.0625rem,transparent 0.0625rem),linear-gradient(to bottom,var(--bg-rect-border-color) 0.0625rem,transparent 0.0625rem);
  background-size: 3rem 3rem;
  background-repeat: repeat;
}

.homepageUseCasesCardContent {
  padding: 2rem;
  padding-bottom: 6rem;
  background-image: linear-gradient(180deg,rgba(0, 0, 0,0%) 0%,rgba(0, 0, 0,100%) 100%);
  position: relative;
  height: 100%;
  cursor: pointer;
  min-height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homepageUseCasesCardContent:before {
  content: "";
  position: absolute;
  top: -3rem;
  right: 0;
  bottom: 0;
  left: -3rem;
  background-image: url('/static/img/noise.png');
  background-repeat: repeat;
  background-size: 100vw 37.5rem;
}

.homepageUserCasesCaseItemContent {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateY(1rem);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.6, 1);
}

.homepageUseCasesCard:hover .homepageUserCasesCaseItemContent {
    transform: translateY(-1.5rem);
}

.homepageUseCasesCaseItemImg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

.homepageUseCasesCaseItemTitle {
  width: 100%;
  color: #8AB5A4;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.homepageUseCasesCaseItemTitleYellow {
  color: #FEE1B9;
}

.homepageUseCasesCaseItemText {
  bottom: -4rem;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  position: absolute;
  color: var(--primary-text-color);
  font-size: 0.8rem; 
  line-height: 1.4;
}

.homepageUseCasesCard:hover .homepageUseCasesCaseItemText {
    opacity: 1;
    pointer-events: auto;
}

.homepageUseCasesSwiper {
  display: none;
  padding: 0 1.5rem;
  overflow: hidden;
}

.homepageUseCasesSwiperSlide {
  display: flex;
  justify-content: center;
  max-width: calc(100vw - 3rem);
  width: 100vw;
}


@media screen and (max-width: 768px) {
    .homepageUseCasesContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .homepageUseCasesCard:hover .homepageUserCasesCaseItemContent {
        transform: translateY(1rem);
    }

    .homepageUseCasesCaseItemText {
        opacity: 0;
        pointer-events: none;
        bottom: -3rem;
    }

    .homepageUseCasesCard:hover .homepageUseCasesCaseItemText {
        opacity: 0;
        pointer-events: none;
    }

    .homepageUseCasesCardContent {
      padding: 1.5rem;
    }

    .homepageUseCasesContainer {
      display: none;
    }

    .homepageUseCasesSwiper {
      display: block
    }
}
  
@media screen and (max-width: 625px) {
  .homepageUseCasesTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 480px) {
    .homepageUseCasesContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}